<div class="header-image">

<img src="/stylesheets/images/you_made_it_logo.png" alt="">
</div>
<h2>Log In</h2>
<form action="/sessions" method="POST">

  <label for="">Email: </label>
  <input type="text" name="email">
  <p></p>
  <label for="">Password: </label>
  <input type="password" name="password">
  <p></p>
  <button>Log in</button>
</form>