<div class="header-image">

<img src="/stylesheets/images/you_made_it_logo.png" alt="">
</div>
<h2>join us...</h2>
<section class="new-user">
<form action="/users" method="POST">
  <label for="">First Name: </label>
  <input type="text" name="first_name">
<p></p>
  <label for="">Last Name: </label>
  <input type="text" name="last_name">
<p></p>  <label for="">Email: </label>
  <input type="text" name="email">
<p></p>  <label for="">Username: </label>
  <input type="text" name="username">
<p></p>  <label for="">Password: </label>
  <input type="password" name="password">
<p></p>  <button>Sign up</button>
</form>
</section>