<h1>craft app</h1>
<h2>Edit a project</h2>

<form action="/crafts/<%= craft['id'] %>" method="POST">
  <input type="hidden" name="_method" value="put">
  
  <label for="">Project: </label>
  <input type="text" name="project_name">

  <label for="">Made by: </label>
  <input type="text" name="username">

  <label for="">Image URL: </label>
  <input type="text" name="image_url">

  <label for="">Materials: </label>
  <input type="text" name="materials">
  
  <label for="">Description: </label>
  <input type="text" name="description">

  <label for="">Status: </label>
  <input type="text" name="status">

  <button>Update your project</button>
</form>