<h1>Add a project</h1>
<form action="/craft" method="POST">
  <label for="">Project: </label>
  <input type="text" name="project_name">

  <label for="">Made by: </label>
  <input type="text" name="username">

  <label for="">Image URL: </label>
  <input type="text" name="image_url">

  <label for="">Materials: </label>
  <input type="text" name="materials">
  
  <label for="">Description: </label>
  <input type="text" name="description">

  <label for="">Status: </label>
  <input type="text" name="status">

  <button>Add project</button>
</form>